.main {
    background-color: var(--surface-color);
    height: 100%;
    width: 60%;
}


.header {
    font-weight: 600;
    font-size: 2.5rem;
}

.divBar {
    height: 1px;
    background: linear-gradient(90deg, var(--text-color), var(--transparent-text-color));
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    transform: translateX(-48px);
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.formSectionContainer {
    
    margin-top: 32px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.formSection { 
    flex-grow: 1;
}

.userBox {
    border: 3px solid var(--text-color);
    border-radius: 30px;
    height: 370px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 33px;
}
/* userbox should dissapear if the width is less than 1120px */
@media (max-width: 1120px) {
    .userBox {
        display: none;
    }
}

.second_icon { 
    width: 64px;
    height: 64px
}

.label { 
    display: block;
    font-size: 22px;
}

.input { 
    margin: 8px 0;
    padding: 8px;
    /* remove decoration */
    outline: 1px solid var(--transparent-text-color);
    border-radius: 20px;
    /* remove focused border */
    border: none;
    width: calc(100% - 32px);
    font-size: 20px;
}

.input:focus {
    outline: 2px solid var(--text-color);
    border: 0;
}

.subheader {
    font-size: 30px;
    font-weight: 550;
}

.textarea {
    margin: 8px 0;
    padding: 8px;
    /* remove decoration */
    outline: 1px solid var(--transparent-text-color);
    border-radius: 20px;
    /* remove focused border */
    border: none;
    min-width: calc(100% - 35px);
    max-width: calc(100% - 35px);
    font-size: 20px;
    min-height: 60px;
    
}