.searchBar {
    width: calc(100% - 44px);
    height: 38px;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 20px;
    border: 2px solid var(--transparent-text-color);
}

.searchBar:focus {
    outline: none;
    border: 2px solid var(--text-color);
}

.searchIcon {
    position: absolute;
    display: block;

    transform: translate(-10px, 8px);
    width: 30px;
    height: 30px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}