.main {
    background-color: var(--surface-color);
    height: 100%;
    width: 60%;
}

.header {
    font-weight: 600;
    font-size: 2.5rem;
}

.divBar {
    height: 1px;
    background: linear-gradient(90deg, var(--text-color), var(--transparent-text-color));
    margin-top: 50px;
    width: 100%;
    border-radius: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.loading {
    opacity: 0.5;
    pointer-events: none;
}

.patientList {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.noResults {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 300px);
    justify-content: center;
    align-items: center;
}

.noResults > h2 { 
    font-size: 32px;
    margin-bottom: 0;
}
.noResults > p {
    font-size: 22px;
}

.gif {
    border-radius: 1000px;
    width: 240px;
    height: 240px;
}