.card {
    border: 2px solid var(--transparent-text-color);
    border-radius: 20px;
    min-width: 480px;
    flex: 1;
    display: flex;
    padding: 2px;
}

.userBox {
    min-width: 160px;
    outline: 2px solid var(--text-color);
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.field {
    margin: 2px 0;
    display: flex;
    align-items: center;
}

.name {
    margin: 8px 0;
    font-size: 28px;
    margin-top: 16px;
}

.userIcon {
    width: 48px;
    height: 48px;

}

.fieldIcon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.userInfo {
    margin-bottom: 8px;
}
