.userBox {
    min-width: 160px;
    outline: 2px solid var(--text-color);
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.field {
    margin: 2px 0;
    display: flex;
    align-items: center;
}

.name {
    margin: 8px 0;
    font-size: 28px;
    margin-top: 16px;
}

.none {
    display: none;

}

.userIcon {
    width: 48px;
    height: 48px;

}
.options {
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding: 16px;
    flex-direction: column;
}

.editIcon {
    width: 24px;
    height: 24px;
    padding: 4px;
    border: 2px solid var(--transparent-text-color);
    border-radius: 8px;
    transition: ease-in-out 0.1s; 
}

.deleteButton {
    display: block;
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.editIcon:hover {
    border: 2px solid var(--text-color);
    background-color: var(--text-color);
    scale: 1.2;
}

.editIcon:hover > path {
    fill: var(--surface-color);
}

.deleteIcon {
    width: 24px;
    height: 24px;
    padding: 4px;
    border: 2px solid var(--transparent-text-color);
    border-radius: 8px;
    transition: ease-in-out 0.1s; 
}

.deleteIcon:hover {
    border: 2px solid var(--error-color);
    background-color: var(--error-color);
    scale: 1.2;
}

.deleteIcon:hover > path {
    fill: var(--surface-color);
}

.link {
    border: 2px solid var(--transparent-text-color);
    border-radius: 20px;
    min-width: 480px;
    transition: ease-in-out 0.02s;
    flex: 1;
    background-color: var(--surface-color);
    display: flex;
    padding: 2px;
    /* remove link underline */
    text-decoration: none;
}

.link:hover {
    outline: 2px solid var(--text-color);
    scale: 1.02;
}

.fieldIcon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.userInfo {
    margin-bottom: 8px;
}
